<a href="https://colab.research.google.com/github/arpitgupta06/training-data-analyst/blob/master/Practice1_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
def maxi(a,b,c):
  if(a>=b) and (a>=c):
    largest = a
  elif(b>=a) and (b>=c):
    largest = b
  else:
    largest = c
  print("Maximum number is:",largest)

In [8]:
maxi(999,1000,100000)

Maximum number is: 100000

In [12]:
def sum_no(numbers):
  total = 0
  for i in numbers:
    total += i
  return total

In [14]:
print(sum_no((5,6,7,8,9,10)))

45

In [15]:
def multiply_no(numbers):
  total = 1
  for i in numbers:
    total = total*i
  return total

In [16]:
multiply_no((3,4,5,6,7))

2520

In [23]:
def string_reverse(str1):

  rstr = ''
  index = len(str1)
  while index > 0:
    rstr += str1[index - 1]
    index = index - 1
  return rstr

In [18]:
str2 = 'my names is arpit'

In [20]:
index = len(str2)

In [21]:
str2[index - 1]

't'

In [24]:
string_reverse(str2)

'tipra si seman ym'

In [1]:
def num_reverse(num):
  rnum = 0
  index = len(num)
  while index > 0:
    rnum += num[index - 1]
    index = index - 1
  return rnum

In [2]:
num_reverse((1,2,3,4))

10

In [3]:
len((1,2,3,4))

4

In [4]:
def test_range(n):
  if n in range(1,100):
    print(" %s is in the range"%str(n))
  else:
    print("the number is outside the range.")

In [5]:
test_range(87)

 87 is in the range

In [6]:
test_range(110)

the number is outside the range.

In [7]:
def mul(num):
  for i in range(1,11):
    print("{a} * {b} = {c}".format(a = num, b = i, c = num*i))

In [8]:
mul(9)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [9]:
def prodDigit(num):
  temp = num
  prod = 1
  while temp > 0:
    digit = temp % 10
    prod *= digit
    temp //= 10
  return prod

In [11]:
54%10

4

In [12]:
54//10

5

In [13]:
prodDigit(67)

42